<!DOCTYPE html>
<html>
  <head>
    <title>Linh Nguyen Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Linh Nguyen Blog</h1>
    <p>Welcome to Linh Nguyen Blog</p>
  </body>
</html>
